---
import Logo from "./Logo.astro";
import { getI18n } from '../i18n/'
const { currentLocale } = Astro
const i18n = getI18n({ currentLocale })
---

<section class="text-xl text-left px-20 max-w-[80ch] text-pretty mx-auto my-24">
    <!-- <img class="w-16 mb-10 mx-auto" src="/favicon.svg" alt="logo revify"> -->
    <Logo
    class="w-48 text-white m-auto mb-10"
    />
    <h1 class=" text-5xl fond-semibold text-center text-wrap mx-auto mb-10 tracking-wide">
        {i18n.INTRO_TITLE}
    </h1>
    <p set:html={i18n.INTRO_DESC1}>
        
</p>
<p set:html={i18n.INTRO_DESC2}>

</p>
<p set:html={i18n.INTRO_DESC3}>

</p>
<p set:html={i18n.INTRO_DESC4}>

</p>
<p set:html={i18n.INTRO_DESC5}>

    </p>
</section>